.counters-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;

	justify-content: center;
	gap: 60px;
	padding-top: 30px;
	overflow: hidden; /* pour cacher le débordement du blur */
	z-index: 0;
}

.counters-wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../../assets/chiffresclés/CourseCharsHome.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px); /* <<< flou */
	z-index: -1; /* passe derrière ton contenu */
}

.counter-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	min-width: 200px;
	transition: all 0.3s ease;
	padding-left: 250px;
	padding-right: 30px;
	background-color: rgba(0, 0, 0, 0.08);
	width: fit-content;
}

.counter-container:hover {
	transform: translateY(-4px);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.counter-icon {
	width: 100px;
	height: 100px;
	object-fit: contain;
	display: block;
	margin-bottom: 8px;
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
	-webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5)); /* safari */
}

/* .counter-icon {
	width: 100px;
	height: 100px;
	object-fit: contain;
	display: block;
	margin-bottom: 8px;
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
} */

.counter {
	font-family: cinzel, serif;
	font-size: 70px;
	font-weight: 700;
	color: #ffffff;
	text-shadow: 2.5px 2.5px 0px #000;
	text-align: center;
}

.counter-container span {
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
}

.see-more-event {
	margin-bottom: 30px;
	margin-left: auto;
	display: block;
	padding: 0.7rem 1.7rem;
	margin-top: 40px;
	margin-right: 130px;
	border-radius: 999px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 0.98rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	background: radial-gradient(
		circle at 30% 0,
		#ffeaa7 0,
		#e1be46 40%,
		#7b5a12 100%
	);
	color: #21170a;
	box-shadow:
		0 6px 16px rgba(0, 0, 0, 0.8),
		0 0 10px rgba(225, 190, 70, 0.9);
	transition:
		transform 0.12s ease-out,
		box-shadow 0.12s ease-out,
		filter 0.12s ease-out;
}

.see-more-event:hover {
	transform: translateY(-1px) scale(1.02);
	box-shadow:
		0 10px 26px rgba(0, 0, 0, 0.9),
		0 0 14px rgba(255, 230, 140, 1);
	filter: brightness(1.05);
}

.see-more-event:active {
	transform: translateY(1px) scale(0.99);
	box-shadow:
		0 4px 10px rgba(0, 0, 0, 0.7),
		0 0 6px rgba(225, 190, 70, 0.7);
}
