.gotostream-container {
	height: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 70px;
	margin-top: 50px;
	margin-bottom: 70px;
}

.gotostream-container h2 {
	font-size: 40px;
	color: #333;
	margin-bottom: 30px;
	width: 400px;
	text-align: center;
	transition:
		color 0.3s ease,
		transform 0.2s ease;
}

.gotostream-container h2:hover {
	color: #791515;
	transform: translateY(-2px);
}

.gotostream-button {
	background-color: #791515;
	color: #fff;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.gotostream-button:hover {
	background-color: #5c0f0f;
}

.gotostream-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.gotostream-text p {
	font-size: 18px;
	color: #666;
	text-align: center;
	max-width: 600px;
	margin-bottom: 24px;
	width: 400px;
	transition: transform 0.2s ease;
}

.gotostream-text p:hover {
	color: #333;
	transform: translateY(-2px);
}

.gotostream-container img {
	width: 700px;
	height: auto;
}
/* .gotostream-container {
	height: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 70px;
	margin-top: 70px;
}

.gotostream-container h2 {
	font-size: 40px;
	color: #333;
	margin-bottom: 30px;
	width: 400px;
	text-align: center;
}

.gotostream-button {
	background-color: #791515;
	color: #fff;
	padding: 12px 24px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.gotostream-button:hover {
	background-color: #5c0f0f;
}

.gotostream-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}
.gotostream-text p {
	font-size: 18px;
	color: #666;
	text-align: center;
	max-width: 600px;
	margin-bottom: 24px;
	width: 400px;
}
.gotostream-container img {
	width: 700px;
	height: auto;
} */
