.eventImgCont {
  max-width: 35rem;
  background: transparent;
  cursor: pointer;
  transition: 0.5s ease;
  img {
    width: 100%;

    background-color: transparent;
  }
}

.eventImgCont:hover {
  transform: scale(1.05);
}
