#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #efebe8;
  width: 100%;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #efebe8;
  margin: 0;
  font-family: sans-serif;
}

main {
  flex: 1;
}
